<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <link rel='stylesheet' href="/static/css/new.css">
    <link rel='stylesheet' href="/static/css/pure-min.css">

</head>

<body>
    <div class="splash-container">
        <div class="splash">
            <form action="/bmi">
                <button class="splash-head pure-button-primary">Start</button>
            </form>
        </div>
    </div>
</body>

</html>